<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30000">
		<setting label="30001" type="select" id="fba-aspect" values="DAR|PAR" default="DAR"/>
		<setting label="30002" type="select" id="fba-controls-p1" values="gamepad|arcade" default="gamepad"/>
		<setting label="30003" type="select" id="fba-controls-p2" values="gamepad|arcade" default="gamepad"/>
		<setting label="30004" type="select" id="fba-cpu-speed-adjust" values="100|110|120|130|140|150|160|170|180|190|200" default="100"/>
		<setting label="30005" type="select" id="fba-hiscores" values="enabled|disabled" default="enabled"/>
		<setting label="30006" type="select" id="fba-lr-controls-p1" values="normal|remap to R1/R2" default="normal"/>
		<setting label="30007" type="select" id="fba-lr-controls-p2" values="normal|remap to R1/R2" default="normal"/>
		<setting label="30008" type="select" id="fba-sh2-mode" values="accurate|fast" default="accurate"/>
	</category>
</settings>